force-app/main/default/flows/Internal_Bulky_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssistedSetup</name>
        <label>Assisted</label>
        <locationX>76</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>AssistedResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assisted_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_1_Set_as_Null</name>
        <label>Item 1 Set as Null</label>
        <locationX>428</locationX>
        <locationY>1893</locationY>
        <assignmentItems>
            <assignToReference>Item1Store</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Item_2_for_none</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_2_Set_as_Null</name>
        <label>Item 2 Set as Null</label>
        <locationX>429</locationX>
        <locationY>2037</locationY>
        <assignmentItems>
            <assignToReference>Item2Store</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Item_3_for_none</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_3_Set_as_Null</name>
        <label>Item 3 Set as Null</label>
        <locationX>429</locationX>
        <locationY>2179</locationY>
        <assignmentItems>
            <assignToReference>Item3Store</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Item_4_for_none</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_4_Set_as_Null</name>
        <label>Item 4 Set as Null</label>
        <locationX>424</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>Item4Store</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BenefitsDecision_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Move_items_to_Variables</name>
        <label>Move items to Variables</label>
        <locationX>180</locationX>
        <locationY>1668</locationY>
        <assignmentItems>
            <assignToReference>Item1Store</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_1_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item2Store</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_2_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item3Store</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_3_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item4Store</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_4_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Item_1_for_none</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Case_Up</name>
        <label>Set New Case Up</label>
        <locationX>615</locationX>
        <locationY>2810</locationY>
        <assignmentItems>
            <assignToReference>New_case_variable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waste - Bulky Collection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WasteRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Information_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Service_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waste</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerServicesQueueid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Service_Area_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bulky Collection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Block_Outbound_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Case_Up_0</name>
        <label>Set New Case Up</label>
        <locationX>384</locationX>
        <locationY>2805</locationY>
        <assignmentItems>
            <assignToReference>New_case_variable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waste - Bulky Collection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WasteRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Information_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Service_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waste</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalWasteTeamQueue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Service_Area_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bulky Collection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Block_Outbound_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_Ids</name>
        <label>Setup Ids</label>
        <locationX>404</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CustomerServicesQueueid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0Y000002MHF8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WasteRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120Y000000BFrfQAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalWasteTeamQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0Y000002MFfD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Intro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>YesAssisted</name>
        <label>YesAssisted</label>
        <locationX>416</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>AssistedResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bulky_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>I_need_assistance_with_this_bulky_collection</name>
        <choiceText>I need assistance with this bulky collection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assisted</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_I_want_to_cancel_this_bulky_collection</name>
        <choiceText>No, I want to cancel this bulky collection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_I_confirm_my_bulky_collection_and_pay_for_the_service</name>
        <choiceText>Yes, I confirm my bulky collection and payment for the service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assisted_Collection</name>
        <label>Assisted Collection</label>
        <locationX>169</locationX>
        <locationY>1040</locationY>
        <defaultConnector>
            <targetReference>Bulky_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssistedChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_confirm_where_you_will_leave_your_items</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assisted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted</targetReference>
            </connector>
            <label>Assisted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assisted_Collection_0</name>
        <label>Assisted Collection</label>
        <locationX>492</locationX>
        <locationY>2712</locationY>
        <defaultConnector>
            <targetReference>Set_New_Case_Up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssistedChoice_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_confirm_where_you_will_leave_your_items</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assisted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Case_Up_0</targetReference>
            </connector>
            <label>Assisted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assisted_Collection_0_0</name>
        <label>Assisted Collection</label>
        <locationX>307</locationX>
        <locationY>3277</locationY>
        <defaultConnector>
            <targetReference>End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssistedChoice_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_confirm_where_you_will_leave_your_items</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assisted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_1</targetReference>
            </connector>
            <label>Assisted</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssistedConfirmation</name>
        <label>Assisted</label>
        <locationX>403</locationX>
        <locationY>798</locationY>
        <defaultConnector>
            <targetReference>ConfirmWhere</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssistedConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_require_an_assisted_collection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YesAssisted</targetReference>
            </connector>
            <label>AssistedConfirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>BenefitsDecision</name>
        <label>Benefits</label>
        <locationX>569</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>ConfirmWhere</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Benefits_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_receipt_of_benefits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BenefitsEnd</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BenefitsDecision_0</name>
        <label>Benefits</label>
        <locationX>420</locationX>
        <locationY>2478</locationY>
        <defaultConnector>
            <targetReference>Final_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Benefits_Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_receipt_of_benefits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted_Collection_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BenefitsDecision_0_0</name>
        <label>Benefits</label>
        <locationX>390</locationX>
        <locationY>3499</locationY>
        <defaultConnector>
            <targetReference>End_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Benefits_Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_receipt_of_benefits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Item_1_for_none</name>
        <label>Check Item 1 for none</label>
        <locationX>169</locationX>
        <locationY>1805</locationY>
        <defaultConnector>
            <targetReference>Check_Item_2_for_none</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>none</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item1Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_1_Set_as_Null</targetReference>
            </connector>
            <label>none</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Item_2_for_none</name>
        <label>Check Item 2 for none</label>
        <locationX>172</locationX>
        <locationY>1972</locationY>
        <defaultConnector>
            <targetReference>Check_Item_3_for_none</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>none2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item2Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_2_Set_as_Null</targetReference>
            </connector>
            <label>none</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Item_3_for_none</name>
        <label>Check Item 3 for none</label>
        <locationX>174</locationX>
        <locationY>2137</locationY>
        <defaultConnector>
            <targetReference>Check_Item_4_for_none</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>none_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item3Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_3_Set_as_Null</targetReference>
            </connector>
            <label>none</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Item_4_for_none</name>
        <label>Check Item 4 for none</label>
        <locationX>172</locationX>
        <locationY>2315</locationY>
        <defaultConnector>
            <targetReference>BenefitsDecision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>none_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item4Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_4_Set_as_Null</targetReference>
            </connector>
            <label>none</label>
        </rules>
    </decisions>
    <decisions>
        <name>checked_declaration</name>
        <label>checked declaration</label>
        <locationX>841</locationX>
        <locationY>115</locationY>
        <defaultConnector>
            <targetReference>Intro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>View_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>View_Available_Dates_First</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ViewDates</targetReference>
            </connector>
            <label>View Dates</label>
        </rules>
        <rules>
            <name>agreed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>benefits</targetReference>
            </connector>
            <label>agreed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConfirmationScreen</name>
        <label>Confirmation</label>
        <locationX>775</locationX>
        <locationY>2601</locationY>
        <defaultConnector>
            <targetReference>EndScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assisted_Collection_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoDatesSuitable</name>
        <label>NoDatesSuitable</label>
        <locationX>170</locationX>
        <locationY>1491</locationY>
        <defaultConnector>
            <targetReference>Move_items_to_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoDates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedBulkyDateId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Suitable Dates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EndNoDates</targetReference>
            </connector>
            <label>NoDates</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ItemList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bulky_Item_1__c</picklistField>
        <picklistObject>Bulky_Collections__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhereLeft</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Where_Items_Left__c</picklistField>
        <picklistObject>Bulky_Collections__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>final_Other_Information</name>
        <dataType>String</dataType>
        <expression>{!Additional_Information} &amp; &quot;   &quot; &amp; {!Additional_Information_1}</expression>
    </formulas>
    <formulas>
        <name>textCaseNumber</name>
        <dataType>String</dataType>
        <expression>RIGHT({!CreatedCaseNumber},4)</expression>
    </formulas>
    <interviewLabel>Internal Bulky Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Bulky Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bulky_Collection</name>
        <label>Create Bulky Collection</label>
        <locationX>511</locationX>
        <locationY>3083</locationY>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Assisted_Collection__c</field>
            <value>
                <elementReference>AssistedResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bulky_Collection_Slot__c</field>
            <value>
                <elementReference>SelectedBulkyDateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bulky_Item_1_Text__c</field>
            <value>
                <elementReference>Item1Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bulky_Item_2_Text__c</field>
            <value>
                <elementReference>Item2Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bulky_Item_3_Text__c</field>
            <value>
                <elementReference>Item3Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bulky_Item_4_Text__c</field>
            <value>
                <elementReference>Item4Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bulky_Items_Other__c</field>
            <value>
                <elementReference>final_Other_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_Items_Left__c</field>
            <value>
                <elementReference>Please_confirm_where_you_will_leave_your_items</elementReference>
            </value>
        </inputAssignments>
        <object>Bulky_Collections__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>512</locationX>
        <locationY>2958</locationY>
        <assignRecordIdToReference>Create_Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Bulky_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AddressID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Block_Outbound_Emails__c</field>
            <value>
                <elementReference>New_case_variable.Block_Outbound_Emails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>New_case_variable.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>New_case_variable.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>New_case_variable.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>New_case_variable.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>New_case_variable.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Area_Detail__c</field>
            <value>
                <elementReference>New_case_variable.Service_Area_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Area__c</field>
            <value>
                <elementReference>New_case_variable.Service_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_case_variable.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>New_case_variable.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>512</locationX>
        <locationY>3214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assisted_Collection_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CreatedCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contact_Details</name>
        <label>Find Contact Details</label>
        <locationX>238</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Setup_Ids</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Assisted</name>
        <label>Assisted</label>
        <locationX>239</locationX>
        <locationY>844</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssistedConfirmation</targetReference>
        </connector>
        <fields>
            <name>Assistedinfo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you are unable to move the items out of your property due to a medical condition, disability or other reason then you will need to select an ‘assisted collection’&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; For an assisted collection you will also be asked to complete a disclaimer form before the collection takes place.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_require_an_assisted_collection</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require an assisted collection?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>benefits</name>
        <label>benefits</label>
        <locationX>736</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BenefitsDecision</targetReference>
        </connector>
        <fields>
            <name>BenefitsText</name>
            <fieldText>If you receive Council Tax or Housing Benefit then you can receive up to two free collections each year.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_receipt_of_benefits</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you receipt of benefits?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BenefitsEnd</name>
        <label>BenefitsEnd</label>
        <locationX>894</locationX>
        <locationY>527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ConfirmWhere</targetReference>
        </connector>
        <fields>
            <name>benefitsenedtext</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please check if the caller is receiving benefits and if so proceed.Those receiving benefit will be able to have two bulky collections per year.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BulkyHistory</name>
            <extensionName>c:InternalBulkyHistory</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AddressId</name>
                <value>
                    <elementReference>AddressID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Bulky_Details</name>
        <label>Bulky Details</label>
        <locationX>178</locationX>
        <locationY>1200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Display_Delivery_Dates</targetReference>
        </connector>
        <fields>
            <name>info</name>
            <fieldText>Please enter details of your bulky collection. We can pick up most large items including Sofas, Ovens etc.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>noswappingText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please note that items cannot be swapped unless you have contacted us first. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Item_1_Text</name>
            <dataType>String</dataType>
            <fieldText>Item 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Item_2_Text</name>
            <dataType>String</dataType>
            <fieldText>Item 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Item_3_Text</name>
            <dataType>String</dataType>
            <fieldText>Item 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Item_4_Text</name>
            <dataType>String</dataType>
            <fieldText>Item 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Information_1</name>
            <fieldText>Any other additonal information:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmWhere</name>
        <label>ConfirmWhere</label>
        <locationX>581</locationX>
        <locationY>660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssistedSetup</targetReference>
        </connector>
        <fields>
            <name>Please_confirm_where_you_will_leave_your_items</name>
            <choiceReferences>WhereLeft</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm where you will leave your items:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>wherelefttext</name>
            <fieldText>It is important that we have access to the area where you are leaving the bulky collection.  For instance where the items are in a rear garden the gates must be unlocked and accessible.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Delivery_Dates</name>
        <label>Display Delivery Dates</label>
        <locationX>181</locationX>
        <locationY>1347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NoDatesSuitable</targetReference>
        </connector>
        <fields>
            <name>introduction</name>
            <fieldText>The following dates are available for you to book your bulky collection.  Please select your preferred date.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BulkyDateChoice</name>
            <extensionName>c:CommunityBulkyDates</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Assisted</name>
                <value>
                    <elementReference>AssistedResult</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedAssisted</name>
                <value>
                    <elementReference>AssistedResult</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedBulkyDateId</assignToReference>
                <name>selectedBulkyDate</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>585</locationX>
        <locationY>3413</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BenefitsDecision_0_0</targetReference>
        </connector>
        <fields>
            <name>bulkytext</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please leave all items out by 7am on the Monday. We endeavour to collect all items on Monday but in the event that that this is not possible please leave the items outside and we will collect them on Tuesday.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>end_text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Your Case Reference is shown below:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>caserreftest</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!textCaseNumber}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_0</name>
        <label>End</label>
        <locationX>345</locationX>
        <locationY>3674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>bulkytext_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please now take payment via normal processes.  Please include the casenumber as a payment reference.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>end_text_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Your Case Reference is shown below:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>caserreftest_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!textCaseNumber}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_1</name>
        <label>End</label>
        <locationX>190</locationX>
        <locationY>3429</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BenefitsDecision_0_0</targetReference>
        </connector>
        <fields>
            <name>bulkytext_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;A member of the waste team will contact you to arrange your assisted collection.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>end_text_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Your Case Reference is shown below:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>caserreftest_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!textCaseNumber}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EndNoDates</name>
        <label>EndNoDates</label>
        <locationX>413</locationX>
        <locationY>1591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nodatestext</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry we cannot meet your required date - please try again closer to the date, or try again with existing dates (by pressing &amp;apos;Previous&amp;apos;)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EndScreen</name>
        <label>End</label>
        <locationX>1043</locationX>
        <locationY>2617</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endText</name>
            <fieldText>The bulky waste collection is cancelled, please press &#39;Next&#39;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Confirmation</name>
        <label>Final Confirmation</label>
        <locationX>702</locationX>
        <locationY>2439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <fields>
            <name>FinalConfirmation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The cost for this service is £30.  Please confirm that you are ready to proceed.  &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You will need to pay or this service when you return to the main MyAccount screen.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation</name>
            <choiceReferences>Yes_I_confirm_my_bulky_collection_and_pay_for_the_service</choiceReferences>
            <choiceReferences>No_I_want_to_cancel_this_bulky_collection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirmation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intro</name>
        <label>Intro</label>
        <locationX>603</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checked_declaration</targetReference>
        </connector>
        <fields>
            <name>introtext</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please remember that any items containing glass must be wrapped in an old blanket or something similar.​&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;We are unable to collect the following items:   &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Garden waste&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Soil, bricks, concrete or rubble   ​&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Tyres and car parts​&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Cast iron boilers or baths​&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Pianos​&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Greenhouses​&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Gas bottles​&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Garage doors and window frames​&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Oil tanks​&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Asbestos​&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  - Large sheds (bigger than 8ft x 6ft)​&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bulkycollectioncosts</name>
            <fieldText>Bulky Collection Costs
  - If you receive Council Tax or Housing Benefit then you can receive up to two free collections each year. 

  - If you are not in receipt of these benefits then there is a charge of £30 for up to four items.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>View_Available_Dates_First</name>
            <dataType>Boolean</dataType>
            <fieldText>View Available Dates First</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirm</name>
            <dataType>Boolean</dataType>
            <fieldText>Please confirm that you have read and understood this</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ViewDates</name>
        <label>ViewDates</label>
        <locationX>492</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Intro</targetReference>
        </connector>
        <fields>
            <name>introtextondates</name>
            <fieldText>Please see below for potential available dates.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bulky</name>
            <extensionName>c:CommunityBulkyDates</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>viewOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Contact_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssistedResult</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Create_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerServicesQueueid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternalWasteTeamQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Item1Store</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Item2Store</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Item3Store</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Item4Store</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Missed_Bin_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_case_variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SelectedBulkyDateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WasteRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
